.notes-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px;
    padding-top: 1%;
}

.note-list {
    background-color:rgb(228, 225, 48);
    width: 20%;
    padding: 10px;
}